	* {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}

	body {
	  height: 100%;
	  max-width: 100%;
	  overflow-x: hidden;
	  background-color: #fefaf7;
	}

	section {
	  height: 100%;
	  padding: 10px;
	}

	.tri-light {
	  content: '';
	  position: relative;
	  left: 0;
	  bottom: 0;
	  width: 0;
	  height: 0;
	  background-color: #f5edeb;
	  border-bottom: 80px solid #fefaf7;
	  border-left: 60vw solid transparent;
	  border-right: 70vw solid transparent;
	}

	.tri-dark {
	  content: '';
	  position: relative;
	  left: 0;
	  bottom: 0;
	  width: 0;
	  height: 0;
	  background-color: #fefaf7;
	  border-bottom: 80px solid #f5edeb;
	  border-left: 60vw solid transparent;
	  border-right: 70vw solid transparent;
	}

	#projects {
	  background-color: #fefaf7;
	}

	#contact {
	  background-color: #f5edeb;
	}

	#skills {
	  background-color: #f5edeb;
	}

	#aboutMe {
	  background-color: #f7f3f2;
	  background-image: url('../images/KHE-04.png');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-position: left;
	  padding-bottom: 0;
	}

	.banner {
	  width: 100%;
	  height: 100%;
	  position: relative;
	  z-index: 1;
	  background: radial-gradient(#fefaf7, #eee3e1);
	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0);
	}

	.banner img {
	  height: 100%;
	  position: relative;
	  z-index: 100;
	  padding-top: 90px;
	  display: block;
	  margin: 0 auto;
	}

	.beige {
	  font-size: 18px;
	  color: #655959 !important;
	}

	@font-face {
	  font-family: "myFirstFont";
	  src: url("../fonts/Master of Comics Personal Use.ttf");
	}

	.nav-title {
	  font-family: 'myFirstFont', cursive;
	  color: #655959 !important;
	  font-size: 25px;
	}

	.banner h1 {
	  text-align: center;
	  color: #907878 !important;
	  font-size: 60px;
	  padding-bottom: 20px;
	  font-family: 'Just Another Hand', cursive;
	}

	.section-title {
	  font-family: 'Pacifico', cursive;
	  text-align: center;
	  color: #ab9191;
	  font-size: 65px;
	  font-weight: 1;
	  margin: 30px;
	  padding: 20px;
	  text-shadow: 0 3.5px 0 #6a5a56bd;
	}

	.aboutme-img {
	  position: relative;
	  top: 21px;
	  width: 100%;
	}

	.about-p {
	  padding: 40px;
	}

	.btn-title {
	  font-family: 'Pacifico', cursive;
	  color: #655959 !important;
	  font-size: 28px;
	  border-radius: 0;
	  background-color: none;
	  background-color: Transparent;
	  background-repeat: no-repeat;
	  border: 2px solid #655959;
	}

	.btn-title:hover {
	  background-color: #ab919136;
	}

	.dev-container {
	  margin: auto;
	  text-align: center;
	}

	.dev-list {
	  font-size: 90px;
	  list-style: none;
	  margin: auto;
	  display: inline-table;
	}

	.dev-list li {
	  padding: 13px;
	  display: inline-block;
	  color: #bbb2af;
	  font-family: 'Ubuntu', sans-serif;
	}

	.dev-title {
	  margin-top: -20%;
	  font-size: 18px;
	  text-align: center;
	}

	.btn-title:focus {
	  box-shadow: 0 0 0 0.2rem #e6dada;
	}

	.foot-text {
	  font-family: 'Pacifico', cursive;
	  text-align: center;
	  color: #baa4a4;
	  font-size: 40px;
	  font-weight: 1;
	  margin-top: 5px;
	}

	.foot-text2 {
	  font-family: 'Pacifico', cursive;
	  text-align: center;
	  color: #baa4a4;
	  font-size: 60px;
	  font-weight: 1;
	  margin-top: 5px;
	}

	.cc {
	  margin-top: 5px;
	  margin-bottom: 5px;
	  font-family: 'Do Hyeon', sans-serif;
	  text-align: center;
	  color: #baa4a4;
	  font-size: 13px;
	}

	.link-social {
	  padding: 10px;
	  color: #baa4a4;
	}

	.center {
	  padding-top: 10px;
	  text-align: center;
	}

	.projects-image {
	  width: 100%;
	}
	@media screen and (min-width: 768px) {
	  .portfolio-projects {
	    margin-top: 0.625em;
	  }
	}

	.projects-title {
	  margin-top: 0.9375em;
	}

	@media screen and (min-width: 768px) {
	  .projects-title {
	    margin-top: 20%;
	  }
	}

	@media screen and (min-width: 1200px) {
	  .projects-title {
	    margin-top: 5%;
	  }
	}

	@media screen and (min-width: 768px) {
	  .projects-desc {
	    margin-top: 10%;
	    margin-bottom: 10%;
	  }
	}

	.btn--project {
	  background: transparent;
	  color: #07374a;
	  border: 1px solid #bbb2af;
	  border-radius: 5px;
	  margin-bottom: 1.25em;
	}

	.btn--project:hover {
	  background: #bbb2af;
	  color: #f0f0e6;
	}

	.projects-image {
	  margin-bottom: 1.875em;
	  padding-top: 5%;
	}

	/** https://codepen.io/shshaw/pen/DxJka **/
	@import "lesshat";

	#Clouds {
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  margin: auto;
	  height: 30%;
	  overflow: hidden;
	  -webkit-animation: FadeIn 3s ease-out;
	  animation: FadeIn 3s ease-out;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	@-webkit-keyframes FadeIn {
	  from {
	    opacity: 0;
	  }

	  to {
	    opacity: 1;
	  }
	}

	@keyframes FadeIn {
	  from {
	    opacity: 0;
	  }

	  to {
	    opacity: 1;
	  }
	}

	.Cloud {
	  position: absolute;
	  width: 100%;
	  background-repeat: no-repeat;
	  background-size: auto 100%;
	  height: 70px;
	  -webkit-animation-duration: 120s;
	  animation-duration: 120s;
	  -webkit-animation-iteration-count: infinite;
	  animation-iteration-count: infinite;
	  -webkit-animation-fill-mode: forwards;
	  animation-fill-mode: forwards;
	  -webkit-animation-timing-function: linear;
	  animation-timing-function: linear;
	  -webkit-animation-name: Float, FadeFloat;
	  animation-name: Float, FadeFloat;
	  z-index: 1;
	}

	.Cloud.Foreground {
	  height: 10%;
	  min-height: 20px;
	  z-index: 3;
	}

	.Cloud.Background {
	  height: 9.09090909%;
	  min-height: 8px;
	  -webkit-animation-duration: 210s;
	  animation-duration: 210s;
	}

	@-webkit-keyframes Float {
	  from {
	    -webkit-transform: translateX(100%) translateZ(0);
	    transform: translateX(100%) translateZ(0);
	  }

	  to {
	    -webkit-transform: translateX(-15%) translateZ(0);
	    transform: translateX(-15%) translateZ(0);
	  }
	}

	@keyframes Float {
	  from {
	    -webkit-transform: translateX(100%) translateZ(0);
	    transform: translateX(100%) translateZ(0);
	  }

	  to {
	    -webkit-transform: translateX(-15%) translateZ(0);
	    transform: translateX(-15%) translateZ(0);
	  }
	}

	/*
@keyframes Float {
  from { transform: translateX(100%) translateY(-100%) translateZ(0); }
  50% { transform: translateX(55%) translateY(0) translateZ(0); }
  to { transform: translateX(-5%) translateY(-100%) translateZ(0); }
}
*/
	@-webkit-keyframes FadeFloat {

	  0%,
	  100% {
	    opacity: 0;
	  }

	  5%,
	  90% {
	    opacity: 1;
	  }
	}

	@keyframes FadeFloat {

	  0%,
	  100% {
	    opacity: 0;
	  }

	  5%,
	  90% {
	    opacity: 1;
	  }
	}

	.Cloud:nth-child(10) {
	  -webkit-animation-delay: -184.61538462s;
	  animation-delay: -184.61538462s;
	  top: 60%;
	}

	.Cloud.Foreground:nth-child(10) {
	  -webkit-animation-duration: 80s;
	  animation-duration: 80s;
	  height: 35%;
	}

	.Cloud.Background:nth-child(10) {
	  display: none;
	  -webkit-animation-duration: 110s;
	  animation-duration: 110s;
	  height: -3.40909091%;
	}

	.Cloud:nth-child(9) {
	  -webkit-animation-delay: -166.15384615s;
	  animation-delay: -166.15384615s;
	  top: 54%;
	}

	.Cloud.Foreground:nth-child(9) {
	  -webkit-animation-duration: 84s;
	  animation-duration: 84s;
	  height: 32.5%;
	}

	.Cloud.Background:nth-child(9) {
	  -webkit-animation-duration: 114s;
	  animation-duration: 114s;
	  height: 50%;
	}

	.Cloud:nth-child(8) {
	  -webkit-animation-delay: -147.69230769s;
	  animation-delay: -147.69230769s;
	  top: 48%;
	}

	.Cloud.Foreground:nth-child(8) {
	  -webkit-animation-duration: 88s;
	  animation-duration: 88s;
	  height: 40%;
	}

	.Cloud.Background:nth-child(8) {
	  -webkit-animation-duration: 118s;
	  animation-duration: 118s;
	  height: -0.90909091%;
	}

	.Cloud:nth-child(7) {
	  -webkit-animation-delay: -129.23076923s;
	  animation-delay: -129.23076923s;
	  top: 42%;
	}

	.Cloud.Foreground:nth-child(7) {
	  -webkit-animation-duration: 92s;
	  animation-duration: 92s;
	  height: 27.5%;
	}

	.Cloud.Background:nth-child(7) {
	  -webkit-animation-duration: 122s;
	  animation-duration: 122s;
	  height: 20%;
	}

	.Cloud:nth-child(6) {
	  -webkit-animation-delay: -110.76923077s;
	  animation-delay: -110.76923077s;
	  top: 36%;
	}

	.Cloud.Foreground:nth-child(6) {
	  -webkit-animation-duration: 96s;
	  animation-duration: 96s;
	  height: 25%;
	}

	.Cloud.Background:nth-child(6) {
	  -webkit-animation-duration: 126s;
	  animation-duration: 126s;
	  height: 60%;
	}

	.Cloud:nth-child(5) {
	  -webkit-animation-delay: -92.30769231s;
	  animation-delay: -92.30769231s;
	  top: 30%;
	}

	.Cloud.Foreground:nth-child(5) {
	  -webkit-animation-duration: 100s;
	  animation-duration: 100s;
	  height: 40.5%;
	}

	.Cloud.Background:nth-child(5) {
	  -webkit-animation-duration: 130s;
	  animation-duration: 130s;
	  height: 2.84090909%;
	}

	.Cloud:nth-child(4) {
	  -webkit-animation-delay: -73.84615385s;
	  animation-delay: -73.84615385s;
	  top: 24%;
	}

	.Cloud.Foreground:nth-child(4) {
	  -webkit-animation-duration: 104s;
	  animation-duration: 104s;
	  height: 20%;
	}

	.Cloud.Background:nth-child(4) {
	  -webkit-animation-duration: 134s;
	  animation-duration: 120s;
	  height: 25%;
	}

	.Cloud:nth-child(3) {
	  -webkit-animation-delay: -55.38461538s;
	  animation-delay: -55.38461538s;
	  top: 18%;
	}

	.Cloud.Foreground:nth-child(3) {
	  -webkit-animation-duration: 108s;
	  animation-duration: 108s;
	  height: 17.5%;
	}

	.Cloud.Background:nth-child(3) {
	  -webkit-animation-duration: 138s;
	  animation-duration: 138s;
	  height: 5.34090909%;
	}

	.Cloud:nth-child(2) {
	  -webkit-animation-delay: -36.92307692s;
	  animation-delay: -36.92307692s;
	  top: 12%;
	}

	.Cloud.Foreground:nth-child(2) {
	  -webkit-animation-duration: 112s;
	  animation-duration: 112s;
	  height: 15%;
	}

	.Cloud.Background:nth-child(2) {
	  -webkit-animation-duration: 142s;
	  animation-duration: 142s;
	  height: 20%;
	}

	.Cloud:nth-child(1) {
	  -webkit-animation-delay: -18.46153846s;
	  animation-delay: -18.46153846s;
	  top: 6%;
	}

	.Cloud.Foreground:nth-child(1) {
	  -webkit-animation-duration: 116s;
	  animation-duration: 116s;
	  height: 70%;
	}

	.Cloud.Background:nth-child(1) {
	  -webkit-animation-duration: 146s;
	  animation-duration: 146s;
	  height: 7.84090909%;
	}

	.Cloud {
	  background-image: url(../images/donut1.png);
	}

	.Cloud.Background {
	  background-image: url(../images/donut.png);
	}
